<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>RIGBE - Personal web page </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Rigbe</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('work') }}">Work</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('code') }}">Code</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				
					<h4>Motivation for studying Bioinformatics</h4>
				<p>In the year 2008, the first year I came to Finland, I fell ill. I was having extreme neurological manifestations that doctors couldn't associate with any disease.The next few years were the most difficult and at the same time rewarding years of my life. Since no one was able to help me, I decided to read and make research on my own.</p>
				<p>At first, it was all so confusing. The medical jargon and many diseases having the same kinds of symptoms, made the search frustrating. But then, I went back home and things started improving. This made me realize that either the weather or the food has to be responsible and that helped focus my search.</p>
				<p>Though it took me years before I could pin down exactly what was causing my symptoms, I finally managed to do so with the help of researches regarding Gluten. Since that moment, I decided to study something related to medicine and biology where I could use my background in computer science and I joined Bioinoformatics.</p>
				
				
			</div><!-- /row -->
			<div class="row">
			<h4>Why Bioinformatics is challenging and exciting</h4>
				<p>Bioinformatics is a multidiscipilinary field. Not only Knowledge of Biology,diseases and informatics, but also mathematics and statistics are necessary. The mathematics and statistics courses I had taken, and didn't really apply for anything, are very important to make sense of lots of queestions in Bioinformatics. This makes the field very challenging. Although, various people from these fields participate in a project, it is necessary to have some knowledge of each of these for a bioinformatician. It is not just about writing some code, you need to know the application area(the biology behind, which is not usually all that clear). In addition statistical analysis and mathematical concepts are vigorously used in the field.</p>
				<p>The challenge ironically is also the exciting part, at least for me. The field is so dynamic that you are constantly reading and updating yourself. If you are studying or doing it just because then you may find it more challenging than it is exciting. But if you are doing this, aspiring to what the field can accomplish in the future, thinking of all the people that will benefit then you don't need exams or deadlines to read and be good at what you do</p>
				
				</div><!-- /row -->
			
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	
	<!-- +++++ Information Section +++++ -->
	
	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				
				
					
					<p>This website was powered by flask and twitter bootstrap.</p>
				
			
			</div>
		
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
